{{- /* comments.html */ -}}
{{- /* ------------------------- */ -}}
{{- /* 显示 Gitcus 评论区（排除 Broadcast 和 About 页面） */ -}}
{{- $filename := .File.BaseFileName -}}
{{- if and (or (.Page.Params.comments) (.Site.Params.comments)) (not (in (slice "broadcast--index" "about") $filename)) -}}
<div id="comments" style="margin-top: 3rem;">
  <script src="https://giscus.app/client.js"
          data-repo="liangyi-x/drunk"
          data-repo-id="R_kgDOQX6njg"
          data-category="Announcements"
          data-category-id="DIC_kwDOQX6njs4CyABK"
          data-mapping="pathname"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="preferred_color_scheme"
          data-lang="zh-CN"
          crossorigin="anonymous"
          async>
  </script>
</div>
{{- end -}}

