{{ define "main" }}

<section class="post-list">

  {{ $paginator := .Paginate (where .Pages "Type" "posts") }}

  {{ range $paginator.Pages }}
  <article class="post-summary">
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    {{ with .Summary }}
    <p class="post-excerpt">{{ . }}</p>
    {{ end }}
    <div class="post-meta">
      <span>{{ .Date.Format "2006-01-02" }}</span>
      {{ with .Params.tags }}
      | <span class="post-tags">{{ range . }}<a href="/tags/{{ . | urlize }}">{{ . }}</a> {{ end }}</span>
      {{ end }}
    </div>
  </article>
  {{ end }}

  {{ partial "pagination.html" (dict "paginator" $paginator "context" .) }}

</section>

{{ end }}
