{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title entry-hint-parent">{{ .Title }}</h1>
    {{- if .Description }}
    <div class="post-description">{{ .Description }}</div>
    {{- end }}
  </header>

  <div class="post-content">
    {{ .Content }}
  </div>

  <footer class="post-footer">
    {{- $tags := .Language.Params.Taxonomies.tag | default "tags" }}
    <ul class="post-tags">
      {{- range ($.GetTerms $tags) }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
  </footer>

  {{- /* 调用评论 */ -}}
  {{- if or (.Page.Params.comments) (.Site.Params.comments) }}
    {{ partial "comments.html" . }}
  {{- end }}

</article>

{{- end }}

